 <style >

 /*--------------------------------------------- GENERALT ---------------------------------*/
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;

 }

 body {
     background-color: white;
     margin: 0;
     font-family: 'Nunito Sans', sans-serif;
     font-weight: 100;
 }

 #liste {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     margin-left: 20px;
     margin-right: 20px;
 }




 .kategorier {
     /*     border: 1px solid #000000;*/
     margin: 10px;
     color: #000000;
     background-color: #f4f4f4;
     cursor: pointer;
 }

 .kategorier p {
     padding: 5px;
     margin-bottom: 10px;
 }

 .kategorier h2 {
     background-color: #cecece;
     color: black;
     margin-top: 0;
     margin-bottom: 0px;
     padding-top: 10px;
     padding-bottom: 10px;
 }

 .kategorier img {
     display: block;
     max-width: 100%;
     max-height: 230px;
     margin-left: auto;
     margin-right: auto;
 }





 .border1 {
     border: 6px double #cecece;
     margin: 50px;
     padding-bottom: 20px;
     background-color: white;
     margin-left: 50px;
     /*     margin-left: 200px;*/
     margin-right: 50px;
     /*     margin-right: 200px;*/
     /*     background-color: #ebe7da;*/
 }

 .border1 h1 {
     text-align: center;
     margin: 0;
     font-size: 20px;
     font-weight: lighter;
     font-family: 'Libre Baskerville', serif;
 }



 .h21 {
     text-align: center;
     font-size: 11px;
     font-family: 'Nunito Sans', sans-serif;
     border: 1px solid #c7c7c7;
     color: black;
     margin-left: 600px;
     margin-right: 600px;
 }


 .border1 h2 {
     text-align: center;
     font-size: 14px;
     font-weight: 400;
 }


 h2 {
     color: #747474;
     text-align: center;
     font-size: 15px;
     font-family: 'Libre Baskerville', serif;
 }

 p {
     font-size: 15px;
     margin: 0;
 }

 b {
     padding-left: 210px;
 }


 /*-------------------------------------- MENU -------------------------------------*/

 /*------------- menulinje -------------*/
 .menulinje {
     text-align: center;
     background-color: #4B4B4B;
     padding: 5px;
 }

 .menulinje a {
     background-color: #4B4B4B;
     color: white;
     margin: 5px;
     text-decoration: none;
     padding-left: 50px;
     padding-right: 50px;
     border: none;
     font-size: 13px;
     font-weight: 100;

 }

 .menulinje a:hover {
     color: white;
     text-shadow: 1px 1px 10px white;
 }


 /*------------- menu -------------*/
 .menu {
     background-color: white;
     text-align: center;
     margin-top: 10px;
     margin-bottom: 50px;
     padding: 5px;
     margin-bottom: 30px;
 }


 .menu button {
     background-color: white;
     border: none;
     color: black;
     margin: 5px;
     padding-left: 10px;
     padding-right: 10px;
     padding-top: 5px;
     padding-bottom: 5px;
     font-weight: 100;
     font-size: 12px;
 }

 .menu .valgt {
     border-bottom: 2px solid green;

 }



 .kniv_gaffel {
     background-image: url(imgs/SVG/kniv-gaffel.svg);
     position: absolute;
     width: 15px;
     height: 134px;
     left: 31vw;
     background-repeat: no-repeat;
     background-size: contain;
 }


 /*--------------------------------------------- LOGOLINJE ----------------------------------*/

 .logolinje {
     display: flex;
     margin: 0;
     border-bottom: 1px solid grey;


 }

 .firkant {
     width: 33.333333333vw;
     height: 150px;
 }

 .green {
     /*     background-color: #a0b59a;*/
     /*     background-color: #568d56;*/
     background-color: #ebe7da;
 }

 .white {
     background-color: white;
     display: flex;
     justify-content: center;
 }

 .red {
     /*     background-color: #cb9797;*/
     /*     background-color: #ce5151;*/
     background-color: #ebe7da;
 }

 .logo {
     background-image: url(imgs/SVG/logo5.svg);
     background-size: 100%;
     width: 250px;
     height: 120px;
     margin-top: 1vw;
     background-repeat: no-repeat;

 }



 /*--------------------------------------------- POPUP -----------------------------------*/

 #popup {
     display: none;
     /*     border: 1px solid black;*/
     width: 500px;
     height: auto;
     padding-bottom: 30px;
     top: 250px;
     left: 470px;
     position: fixed;
     background-color: #ebe7da;
 }

 #popup h2 {
     background-color: #ffffff;
     color: black;
     margin-top: 0;
     margin-bottom: 0px;
     padding-top: 10px;
     padding-bottom: 10px;
 }


 .popup img {
     display: block;
     max-width: 400px;
     margin-left: auto;
     margin-right: auto;
 }

 #indhold {
     box-sizing: border-box;
     background-color: #ebe7da;
     width: 400px;
     /*        padding: 10px;*/
     height: auto;
     margin: auto;

 }

 #luk {
     box-sizing: border-box;
     text-align: right;
     padding-right: 1em;
 }

 #luk button {
     font-size: 2em;
     font-size: 30px;
     color: white;
     background-color: #959595;
     border-radius: 100px;
     padding-left: 13px;
     padding-right: 13px;
     margin-top: 20px;
 }

 /*--------------------------------------------- FOOTER ---------------------------------*/




 /*--------------------------------------------- FOOTER ---------------------------------*/

 footer {
     background-color: #4B4B4B;
     height: 30px;
 }


 /*--------------------------------------------- Forside -------------------------*/

 .line {
     height: 10px;
 }

 /*--------------------------------------------- Informationer -------------------------*/



 #informationer {
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     background-color: #ebe7da;

 }



 .left {
     flex-basis: 200px;
     margin: 5vw;
     flex-grow: 1;
     font-family: 'Libre Baskerville', serif;
     font-weight: 900;
 }

 .right {
     flex-basis: 400px;
     margin: 5vw;
     flex-grow: 2;
     font-family: 'Libre Baskerville', serif;
     font-weight: 900;
 }

 /*--------------------------------------------- Takeaway -------------------------*/

 #takeaway {
     display: flex;
     flex-wrap: wrap;
     /*     margin: 20px;*/
     background-color: #6a6a6a;
 }

 #takeaway .txt h2 {
     /*     background-color: aqua;*/
     flex-basis: 400px;
     flex-grow: 2;
     margin-top: 120px;
     margin-right: 200px;
     font-size: 30px;
     color: white;
 }

 #takeaway .justeat {
     background-image: url(imgs/random/pizza-large.png);
     background-repeat: no-repeat;
     /*     background-color: aquamarine;*/
     width: 100px;
     height: 220px;
     flex-basis: 200px;
     flex-grow: 1;
     margin-left: 200px;
     margin-top: 50px;
     margin-bottom: 50px;
 }

 /*--------------------------------------------- Instagram -------------------------*/
 #instagram {
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     margin-top: 2vw;
     margin-bottom: 2vw;
 }

 #instagram h2 {
     text-align: left;
     font-family: 'Libre Baskerville', serif;

 }

 #instagram img {
     max-height: 13vw;
 }



 .left2 {
     flex-basis: 200px;
     flex-grow: 1;

     margin: 1vw;
     padding: 2vw;
     padding-right: 10vw;


     font-family: 'Nunito Sans', sans-serif;
     color: black;


     /*     background-color: #a0b59a;*/
 }

 .right2 {
     flex-basis: 200px;
     flex-grow: 1;
     margin: 0.5vw;
     padding: 0;
     margin-bottom: 0;
 }


 .logo2 {
     background-image: url(imgs/SVG/logo.svg);
     background-size: 100%;
     width: 12vw;
     height: 6vw;
     margin-top: 1vw;
     margin-left: 220px;
     background-repeat: no-repeat;
     /*
     display: block;
     margin-left: auto;
     margin-right: auto;
*/

 }



















 /*---------------------MEDIA QUERIES-------------------------*/


 @media only screen and (max-width: 1190px) {


     .green {

         flex-basis: 100px;
         flex-grow: 1;

     }

     .white {

         flex-basis: 300px;
         flex-grow: 2;
     }

     .red {

         flex-basis: 100px;
         flex-grow: 1;
     }


     .menulinje a {
         padding-left: 10px;
         padding-right: 10px;
         font-size: 10px;
         font-weight: 100;

     }




     #takeaway .txt h2 {
         margin-top: 120px;
         margin-right: 50px;
         font-size: 20px;
         color: white;
     }

     #takeaway .justeat {
         width: 100px;
         height: 220px;
         flex-basis: 100px;
         flex-grow: 1;
         margin-left: 50px;
         margin-top: 50px;
         margin-bottom: 50px;
     }

     .kniv_gaffel {
         left: 23vw;
     }


     .kategorier {
         margin: 10px;
         color: #000000;
         background-color: #f4f4f4;
     }

     .kategorier p {
         padding: 5px;
     }

     .kategorier h2 {
         background-color: #cecece;
         color: black;
         margin-top: 0;
         margin-bottom: 0px;
         padding-top: 10px;
         padding-bottom: 10px;
     }

     .kategorier img {
         display: block;
         max-width: 100%;
         max-height: 290px;
     }

     #liste {
         grid-template-columns: 1fr 1fr;
         margin-left: 20px;
         margin-right: 20px;
     }

     .h21 {
         margin-left: 380px;
         margin-right: 380px;
     }

     #popup {
         width: 500px;
         height: auto;
         padding-bottom: 30px;
         top: 350px;
         left: 260px;
         position: fixed;
     }

     #popup h2 {
         font-size: 25px;
     }

     #popup p {
         font-size: 25px;
     }

     #indhold {
         box-sizing: border-box;
         width: 400px;
         /*        padding: 10px;*/
         height: auto;
         margin: auto;
         padding:
     }

     #luk {
         box-sizing: border-box;
         text-align: right;
         padding-right: 1em;
     }

     #luk button {
         font-size: 2em;
         font-size: 30px;
         color: white;
         border-radius: 100px;
         padding-left: 13px;
         padding-right: 13px;
         margin-top: 20px;
     }

     b {
         padding-left: 290px;
     }




 }



 @media only screen and (max-width:900px) {


     .green {

         flex-basis: 100px;
         flex-grow: 1;

     }

     .white {

         flex-basis: 300px;
         flex-grow: 2;
     }

     .red {

         flex-basis: 100px;
         flex-grow: 1;
     }


     .menulinje a {
         padding-left: 10px;
         padding-right: 10px;
         font-size: 10px;
         font-weight: 100;

     }




     #takeaway .txt h2 {
         margin-top: 120px;
         margin-right: 50px;
         font-size: 20px;
         color: white;
     }

     #takeaway .justeat {
         width: 100px;
         height: 220px;
         flex-basis: 100px;
         flex-grow: 1;
         margin-left: 50px;
         margin-top: 50px;
         margin-bottom: 50px;
     }

     .kniv_gaffel {
         left: 17vw;
     }


     .kategorier {
         margin: 3px;
         color: #000000;
         background-color: #f4f4f4;
     }

     .kategorier p {
         padding: 5px;
     }

     .kategorier h2 {
         background-color: #cecece;
         color: black;
         margin-top: 0;
         margin-bottom: 0px;
         padding-top: 10px;
         padding-bottom: 10px;
     }

     .kategorier img {
         display: block;
         max-width: 100%;
         max-height: 230px;
     }

     #liste {
         grid-template-columns: 1fr 1fr;
         margin-left: 20px;
         margin-right: 20px;
     }

     .h21 {
         margin-left: 250px;
         margin-right: 250px;
     }

     #popup {
         width: 500px;
         height: auto;
         padding-bottom: 30px;
         top: 250px;
         left: 130px;
         position: fixed;
     }

     #indhold {
         box-sizing: border-box;
         width: 400px;
         /*        padding: 10px;*/
         height: auto;
         margin: auto;
         padding:
     }

     #luk {
         box-sizing: border-box;
         text-align: right;
         padding-right: 1em;
     }

     #luk button {
         font-size: 2em;
         font-size: 30px;
         color: white;
         border-radius: 100px;
         padding-left: 13px;
         padding-right: 13px;
         margin-top: 20px;
     }

     b {
         padding-left: 320px;
     }



 }




 @media only screen and (max-width: 770px) {


     .green {

         flex-basis: 100px;
         flex-grow: 1;

     }

     .white {

         flex-basis: 500px;
         flex-grow: 3;

     }

     .red {

         flex-basis: 100px;
         flex-grow: 1;
     }


     .menulinje a {
         padding-left: 10px;
         padding-right: 10px;
         font-size: 15px;
         font-weight: 100;

     }


     #takeaway .txt h2 {
         margin: 50px;
         margin-top: 0;
         font-size: 25px;
         color: white;
         text-align: left;

     }

     #takeaway .justeat {
         width: 50px;
         height: 220px;
         background-size: 150px;
         flex-basis: 100px;
         flex-grow: 1;
         margin-left: 120px;
         margin-top: 50px;
         margin-bottom: 0;
     }

     .kniv_gaffel {
         left: 20vw;
     }


     .kategorier {
         margin: 3px;
     }

     .kategorier p {
         padding: 5px;
     }

     .kategorier h2 {
         background-color: #cecece;
         color: black;
         margin-top: 0;
         margin-bottom: 0px;
         padding-top: 10px;
         padding-bottom: 10px;
     }

     .kategorier img {
         display: block;
         max-width: 100%;
         max-height: 230px;
     }

     #liste {
         grid-template-columns: 1fr 1fr;
         margin-left: 5px;
         margin-right: 5px;
     }

     .h21 {
         margin-left: 200px;
         margin-right: 200px;

     }



     #popup {
         width: 300px;
         height: auto;
         padding-bottom: 30px;
         top: 250px;
         left: 230px;
         position: fixed;
     }

     #popup img {
         max-width: 260px;
     }

     #popup h2 {
         font-size: 15px;
     }

     #popup p {
         font-size: 15px;
     }

     #indhold {
         box-sizing: border-box;
         width: 270px;
         /*        padding: 10px;*/
         height: auto;
         margin: auto;
     }

     #luk {
         box-sizing: border-box;
         text-align: right;
         padding-right: 20px;
     }

     #luk button {
         font-size: 2em;
         font-size: 30px;
         color: white;
         border-radius: 100px;
         padding-left: 13px;
         padding-right: 13px;
         margin-top: 20px;
         margin-bottom: 10px;
     }



     .border1 {
         margin: 0px;
         padding-bottom: 20px;
         background-color: white;
         margin-left: 50px;
         /*     margin-left: 200px;*/
         margin-right: 50px;
         /*     margin-right: 200px;*/
         /*     background-color: #ebe7da;*/
     }

     b {
         padding-left: 200px;
     }

     .menu button {
         margin: 5px;
         padding-left: 1px;
         padding-right: 1px;
         padding-top: 5px;
         padding-bottom: 5px;
         font-weight: 100;
         font-size: 15px;
     }



 }


 @media only screen and (max-width: 400px) {


     .green {

         flex-basis: 100px;
         flex-grow: 1;

     }

     .white {

         flex-basis: 500px;
         flex-grow: 3;

     }

     .red {

         flex-basis: 100px;
         flex-grow: 1;
     }


     .menulinje a {
         padding-left: 2px;
         padding-right: 2px;
         font-size: 10px;
         font-weight: 100;

     }


     #takeaway .txt h2 {
         margin: 50px;
         margin-top: 0;
         font-size: 25px;
         color: white;
         text-align: left;

     }

     #takeaway .justeat {
         width: 50px;
         height: 220px;
         background-size: 150px;
         flex-basis: 100px;
         flex-grow: 1;
         margin-left: 120px;
         margin-top: 50px;
         margin-bottom: 0;
     }

     .kniv_gaffel {
         left: 3vw;
         display: none;
     }


     .kategorier {
         margin: 3px;
     }

     .kategorier p {
         padding: 5px;
     }

     .kategorier h2 {
         background-color: #cecece;
         color: black;
         margin-top: 0;
         margin-bottom: 0px;
         padding-top: 10px;
         padding-bottom: 10px;
     }

     .kategorier img {
         display: block;
         max-width: 100%;
         max-height: 230px;
     }

     #liste {
         grid-template-columns: 1fr;
         margin-left: 5px;
         margin-right: 5px;
     }

     .h21 {
         margin-left: 80px;
         margin-right: 80px;

     }



     #popup {
         width: 290px;
         height: auto;
         padding-bottom: 30px;
         top: 150px;
         left: 15px;
         position: fixed;
     }

     #popup img {
         max-width: 260px;
     }

     #popup h2 {
         font-size: 15px;
     }

     #popup p {
         font-size: 15px;
     }

     #indhold {
         box-sizing: border-box;
         width: 270px;
         /*        padding: 10px;*/
         height: auto;
         margin: auto;
     }

     #luk {
         box-sizing: border-box;
         text-align: right;
         padding-right: 20px;
     }

     #luk button {
         font-size: 2em;
         font-size: 30px;
         color: white;
         border-radius: 100px;
         padding-left: 13px;
         padding-right: 13px;
         margin-top: 20px;
         margin-bottom: 10px;
     }



     .border1 {
         margin: 0px;
         padding-bottom: 20px;
         background-color: white;
         margin-left: 10px;
         /*     margin-left: 200px;*/
         margin-right: 10px;
         /*     margin-right: 200px;*/
         /*     background-color: #ebe7da;*/
     }

     b {
         padding-left: 200px;
     }

     .menu button {
         margin: 5px;
         padding-left: 0px;
         padding-right: 0px;
         padding-top: 5px;
         padding-bottom: 5px;
         font-weight: 100;
         font-size: 10px;
     }



 }



 /* knap * /


#myBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    border: none;
    right: 30px;
    z-index: 2;
    background-image: url(pictures/arrow3.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    opacity: 0.2;

}

#myBtn:hover {
    background-image: url(pictures/arrow4.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-size: 70px;
    transform: scale(1.1);
    opacity: 0.5;

    width: 50px;
    height: 50px;
}
