 <style >

 /*--------------------------------------------- GENERALT ---------------------------------*/
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;

 }

 body {
     background-color: white;
     margin: 0;
     font-family: 'Nunito Sans', sans-serif;
     font-weight: 100;


 }

 .kategorier {
     border: 1px solid #000000;
     margin: 10px;
     color: #000000;
     background-color: white;
 }

 .kategorier p {
     padding: 5px;
 }

 #liste {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     margin-left: 200px;
     margin-right: 200px;
 }

 .kategorier img {
     display: block;
     max-width: 100%;
     max-height: 150px;
     margin-left: auto;
     margin-right: auto;
 }

 .popup img {
     display: block;
     max-width: 400px;
     margin-left: auto;
     margin-right: auto;
 }

 h2 {
     color: #747474;
     text-align: center;
     font-size: 15px;
     font-family: 'Libre Baskerville', serif;
 }

 h1 {
     text-align: center;
     margin: 0;
     font-size: 20px;
     font-weight: lighter;
     font-family: 'Libre Baskerville', serif;
 }

 .babushka_overskrift {
     background-color: #ffffff;
     padding-top: 50px;
     padding-bottom: 50px;
 }

 p {
     font-size: 15px;
     margin: 0;
 }




 /*-------------------------------------- MENU -------------------------------------*/

 /*------------- menulinje -------------*/
 .menulinje {
     text-align: center;
     background-color: #4B4B4B;
     padding: 5px;
 }

 .menulinje a {
     background-color: #4B4B4B;
     color: white;
     margin: 5px;
     text-decoration: none;
     padding-left: 50px;
     padding-right: 50px;
     border: none;
     font-size: 13px;
     font-weight: 100;

 }

 .menulinje a:hover {}

 /*------------- menu -------------*/
 .menu {
     background-color: white;
     text-align: center;
     padding: 5px;
     margin-bottom: 30px;
 }


 .menu button {
     background-color: none;
     border: none;
     color: black;
     margin: 5px;
     padding-left: 20px;
     padding-right: 20px;
     padding-top: 5px;
     padding-bottom: 5px;
     font-weight: 100;
     font-size: 12px;
 }

 .menu .valgt {
     border-bottom: 2px solid green;

 }

 .kniv_gaffel {
     background-image: url(imgs/SVG/kniv-gaffel.svg);
     position: absolute;
     width: 1vw;
     height: 13.4vw;
     background-repeat: no-repeat;
     background-size: contain;
 }

 /*--------------------------------------------- LOGOLINJE ----------------------------------*/

 .logolinje {
     display: flex;
     margin: 0;
     border-bottom: 1px solid grey;


 }

 .firkant {
     width: 33.333333333vw;
     height: 150px;
 }

 .green {
     background-color: #a0b59a;
 }

 .white {
     background-color: white;
     display: flex;
     justify-content: center;
 }

 .red {
     background-color: #cb9797;
 }

 .logo {
     background-image: url(imgs/SVG/logo.svg);
     background-size: 100%;
     width: 19vw;
     height: 8vw;
     margin-top: 1vw;
     background-repeat: no-repeat;
     /*
     display: block;
     margin-left: auto;
     margin-right: auto;
*/

 }

 .underoverskrift {
     text-align: center;
     font-size: 13px;
 }


 /*--------------------------------------------- POPUP -----------------------------------*/

 #popup {
     display: none;
     border: 1px solid black;
     width: 500px;
     height: auto;
     padding-bottom: 30px;
     top: 100px;
     left: 470px;
     position: fixed;
     background-color: white;
 }

 #indhold {
     box-sizing: border-box;
     background-color: white;
     width: 400px;
     /*        padding: 10px;*/
     height: auto;
     margin: auto;
     padding:
 }

 #luk {
     box-sizing: border-box;
     text-align: right;
     padding-right: 1em;
 }

 #luk button {
     font-size: 2em;
     font-size: 30px;
     color: white;
     background-color: #363636;
     border-radius: 100px;
     padding-left: 13px;
     padding-right: 13px;
     margin-top: 20px;
 }

 /*--------------------------------------------- FOOTER ---------------------------------*/




 /*--------------------------------------------- FOOTER ---------------------------------*/

 footer {
     background-color: #4B4B4B;
     height: 30px;
 }


 /*--------------------------------------------- Forside -------------------------*/

 .line {
     height: 10px;
 }

 /*--------------------------------------------- Informationer -------------------------*/



 #informationer {
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     background-color: #ebe7da;

 }



 .left {
     flex-basis: 200px;
     margin: 5vw;
     flex-grow: 1;
     font-family: 'Libre Baskerville', serif;
     font-size: 4vw;
     font-weight: 900;
 }

 .right {
     flex-basis: 400px;
     margin: 5vw;
     flex-grow: 2;
     font-family: 'Libre Baskerville', serif;
     font-weight: 900;
 }

 /*--------------------------------------------- Instagram -------------------------*/
 #instagram {
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     margin-top: 2vw;
     margin-bottom: 2vw;
 }

 #instagram h2 {
     text-align: left;
     font-family: 'Libre Baskerville', serif;

 }

 #instagram img {
     max-height: 13vw;
 }



 .left2 {
     flex-basis: 200px;
     flex-grow: 1;

     margin: 1vw;
     padding: 2vw;


     font-family: 'Nunito Sans', sans-serif;
     color: white;

     background-color: #a0b59a;
 }

 .right2 {
     flex-basis: 300px;
     flex-grow: 1;
     margin: 0.5vw;
     padding: 0;
     margin-bottom: 0;
 }


 .logo2 {
     background-image: url(imgs/SVG/logo3.svg);
     background-size: 100%;
     width: 19vw;
     height: 8vw;
     margin-top: 1vw;
     background-repeat: no-repeat;
     /*
     display: block;
     margin-left: auto;
     margin-right: auto;
*/

 }
